body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    margin-top: 5%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
    padding-left: 40px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
#border-top{
    border-left: 5px tomato solid;
    padding-left: 15px;
    border-radius: 5px;
}
