body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    margin-top: 5%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 35px;
}
.orange-color{
    color: orange;
}
.light-red-color{
    color: rgb(199, 59, 59);
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
    padding-left: 40px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
}
#border-top{
    border-left: 5px tomato solid;
    padding-left: 15px;
    border-radius: 5px;
}
#complicated-one{
    margin-left: 0%;
    margin-right: 5%;
}
#sec-mission{
    text-align: center;
}
#mission-1{
    background-color: rgba(44, 202, 110, 0.274);
    margin: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#mission-2{
    background-color: rgba(169, 224, 41, 0.274);
    margin: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#mission-3{
    background-color: rgba(223, 202, 17, 0.274);
    margin: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
#coding-img{
   width: 400px;
   height: 400px;
   background-image: url(images/shapes/shape-1.png);
   background-repeat: no-repeat;
   background-position: left;
   background-size: 200px;
   margin-left: 5%;
   padding-left: 15%;
}
#mid-section{
    padding: 10px 20px;
    width: 900px;
}
#project-img{
    width: 700px;
    height: 500px;
}
footer{
    text-align: center;
    text-decoration: none;
    color: rgb(221, 216, 216);
    background-color: rgba(0, 0, 0, 0.911);
    padding-top: 1%;
    padding-bottom: 1%;
}
